
/*
WordPress Styles
*/

/*
Widgets
*/

.widget {

    margin-bottom: var(--general-margin-bottom);

    &::before,
    &::after {
      content: '';
      display: table;
    }
    &::after {
      clear: both;
    }

    & ul {
        list-style: none;
        padding-left: 0;
        & ul {
            padding-left: var(--general-margin-bottom);
        }
    }

    & :last-child {
        margin-bottom: 0;
    }
}

/*
Calendar Widget
*/

#wp-calendar {
    & caption {
        margin-bottom: 0;
    }
}

/*
Tag Cloud Widget
*/

.wp-tag-cloud {
    padding-left: 0;
    & li {
        display: inline-block;
    }
}

/*
RSS Widget
*/

.widget_rss {

    & .widget-title .rsswidget {
       display: block;
       &:first-child { display: none; }
   }

    & ul {
        & .rsswidget,
        & .rss-date,
        & .rssSummary {
            display: block;
        }
    }

}

/*
WP Gallery
*/

.gallery {
    &::before,
    &::after {
        content: '';
        display: table;
    }
    &::after {
        clear: both;
    }
}

.gallery-caption {
    display: block;
    text-align: center;
}

.gallery-item {
    display: block;
    float: left;
    vertical-align: top;
    text-align: center;
}

.gallery-columns-1 .gallery-item { width: 100%; }
.gallery-columns-2 .gallery-item { width: 50%;    &:nth-child(2n+3){clear:both;}  }
.gallery-columns-3 .gallery-item { width: 33.33%; &:nth-child(3n+4){clear:both;}  }
.gallery-columns-4 .gallery-item { width: 25%;    &:nth-child(4n+5){clear:both;}  }
.gallery-columns-5 .gallery-item { width: 20%;    &:nth-child(5n+6){clear:both;}  }
.gallery-columns-6 .gallery-item { width: 16.66%; &:nth-child(6n+7){clear:both;}  }
.gallery-columns-7 .gallery-item { width: 14.28%; &:nth-child(7n+8){clear:both;}  }
.gallery-columns-8 .gallery-item { width: 12.5%;  &:nth-child(8n+9){clear:both;}  }
.gallery-columns-9 .gallery-item { width: 11.11%; &:nth-child(9n+10){clear:both;} }

/*
WP Images
*/

.alignleft {
    display: inline;
    float: left;
    margin-right: var(--general-margin-bottom);
    margin-bottom: var(--general-margin-bottom);
}

.alignright {
    display: inline;
    float: right;
    margin-left: var(--general-margin-bottom);
    margin-bottom: var(--general-margin-bottom);
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
	margin-right: auto;
    margin-bottom: var(--general-margin-bottom);
}

.alignnone {
    clear: both;
    margin-bottom: var(--general-margin-bottom);
}

.wp-caption-text {
    margin-bottom: 0;
}

.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/*
Screen Reader Text
*/

.screen-reader-text {
    position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(1px 1px 1px 1px);
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
    &:focus {
    	background-color: #f1f1f1;
    	border-radius: 3px;
    	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    	clip: auto !important;
        clip-path: none !important;
    	color: #212121;
    	display: block;
    	font-size: 1rem;
    	font-weight: bold;
    	height: auto;
        top: 5px;
    	left: 5px;
    	line-height: normal;
    	padding: 15px 23px 14px;
    	text-decoration: none;
    	width: auto;
    	z-index: 999999; /* Above WP toolbar. */
    }
}
