@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Tables
////////////////////////////////////////////////////////////////////////////////////////////////////

table {
    border-collapse: collapse;
    border-spacing: 0;
    max-width: 100%;
    width: 100%;
    line-height: $line_height_ratio_table;
}

caption {
    color: $color_table_cell;
    margin: $font_size_small 0;
    font-size: $font_size_small;
    text-align: left;
    font-style: italic;
    caption-side: bottom;
}

tr {
    border-bottom: 1px solid $color_table_border;
}

th, td {
    color: $color_table_cell;
    font-weight: $font_weight_tabel_cell;
    font-size: $font_size_tabel_cell;
    padding:
        $padding_top_table
        $padding_right_table
        $padding_bottom_table
        $padding_left_table;
    &:first-child { padding-left: 0; }
    &:last-child { padding-right: 0; }
    vertical-align: middle;
    text-align: left;
    line-height: inherit;
}

th {
    color: $color_table_head;
    font-weight: $font_weight_tabel_head;
    font-size: $font_size_tabel_head;
}
