{
    "presets": [
        [
            "@babel/preset-env",
            {
                // https://babeljs.io/docs/en/babel-preset-env#targets
                "targets": "> 0.25%, not dead"
            }
        ]
    ]
}
