# General
*.DS_Store
.AppleDouble
.LSOverride
._*

# IDE Files
.idea
.vscode
.favorites.json

# Node & Composer
*.map
node_modules
vendor
!dist/**/vendor
public/css
public/js

# Local Project Files
NOTES.md

# Logs
*.log

