# General
*.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# IDEs
.idea
.vscode

# Node, Gulp & Composer
*.map
node_modules
vendor
public/css
public/js

# Local Project Files
ROADMAP.md
screenshot.afdesign
composer.local.json
package-backup.json

