
/* from https://github.com/PolymerElements/paper-styles/blob/master/shadow.html */

@mixin material-design-box-shadow-transition {
    transition: box-shadow 0.28s cubic-bezier( 0.4, 0, 0.2, 1 );
};

/* from https://material.io/guidelines/resources/shadows.html#shadows-sketch */

@mixin material-design-box-shadow-dp1 {
    box-shadow:
        0 0 2px 0 rgba(0, 0, 0, 0.14),
        0 2px 2px 0 rgba(0, 0, 0, 0.12),
        0 1px 3px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp2 {
    box-shadow:
        0 0 4px 0 rgba(0, 0, 0, 0.14),
        0 3px 4px 0 rgba(0, 0, 0, 0.12),
        0 1px 5px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp3 {
    box-shadow:
        0 3px 3px 0 rgba(0, 0, 0, 0.14),
        0 3px 4px 0 rgba(0, 0, 0, 0.12),
        0 1px 8px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp4 {
    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.14),
        0 5px 5px 0 rgba(0, 0, 0, 0.12),
        0 1px 10px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp6 {
    box-shadow:
        0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp8 {
    box-shadow:
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 3px rgba(0, 0, 0, 0.12),
        0 4px 15px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp9 {
    box-shadow:
        0 9px 12px 1px rgba(0, 0, 0, 0.14),
        0 3px 16px 2px rgba(0, 0, 0, 0.12),
        0 5px 6px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp12 {
    box-shadow:
        0 12px 17px 2px rgba(0, 0, 0, 0.14),
        0 5px 22px 4px rgba(0, 0, 0, 0.12),
        0 7px 8px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp16 {
    box-shadow:
        0 16px 24px 2px rgba(0, 0, 0, 0.14),
        0 6px 30px 5px rgba(0, 0, 0, 0.12),
        0 8px 10px 0 rgba(0, 0, 0, 0.20);
};

@mixin material-design-box-shadow-dp24 {
    box-shadow:
        0 24px 38px 3px rgba(0, 0, 0, 0.14),
        0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px 0 rgba(0, 0, 0, 0.20);
};
