@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Triangle
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin triangle( $color:currentColor, $rotation:0deg, $size:10px, $clickable:true ) {
    position: relative;
    display: inline-block;
    height: $size;
    width: $size;
    border: $size solid transparent;
    border-top-color: $color;
    transform: rotate( $rotation );
    pointer-events: if( $clickable, auto, none );
}

@mixin triangle--color( $color ) { border-top-color: $color; }

@mixin triangle--north      { transform: rotate( 180deg ); }
@mixin triangle--north-east { transform: rotate( 225deg ); }
@mixin triangle--north-west { transform: rotate( 135deg ); }

@mixin triangle--south      { transform: rotate( 0deg ); }
@mixin triangle--south-east { transform: rotate( 315deg ); }
@mixin triangle--south-west { transform: rotate( 45deg ); }

@mixin triangle--east       { transform: rotate( 270deg ); }
@mixin triangle--west       { transform: rotate( 90deg ); }
