@charset "UTF-8";

///
// Triangle Mixin
//
// @param  $thickness  number  Use a CSS length to turn the triangle hollow.
//
// .triangle {
//     @include triangle;
// }
//
// or:
//
// .triangle::before {
//     @include triangle;
//     content: '';
//     position: absolute;
//     left: 1rem;
//     top: -1rem;
// }
//
// <span class=triangle></span>
///

@mixin triangle( $color:currentColor, $rotation:0deg, $size:10px ) {
    position: relative;
    display: inline-block;
    height: $size;
    width: $size;
    pointer-events: none;
    border: $size solid transparent;
    border-top-color: $color;
    transform: rotate( $rotation );
}

@mixin triangle--color( $color ) {
    border-top-color: $color;
}
