@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Border Width
////////////////////////////////////////////////////////////////////////////////////////////////////

$default_border_width: 1px !default;

$border_width_input:  $default_border_width !default;
$border_width_button: $default_border_width !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Border Radius
////////////////////////////////////////////////////////////////////////////////////////////////////

$default_border_radius: 3px !default;

$border_radius_input:  $default_border_radius !default;
$border_radius_button: $default_border_radius !default;
