@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// State Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_primary:   #2199de !default;
$color_secondary: #acacac !default;
$color_success:   #2ecc40 !default;
$color_info:      #39cccc !default;
$color_warning:   #ff851b !default;
$color_danger:    #ff4136 !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Typography Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_text:       #474747 !default;
$color_text_light: #a4a4a4 !default;
$color_heading:    $color_text !default;
$color_link:       $color_primary !default;
$color_link_hover: $color_primary !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Button Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_button:               #fff !default;
$color_button_hover:         #fff !default;
$bg_color_button:            $color_primary !default;
$bg_color_button_hover:      $color_primary !default;
$border_color_button:        $color_primary !default;
$border_color_button_hover:  $color_primary !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Form Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_input_label:             $color_heading !default;
$color_input:                   $color_heading !default;
$color_input_hover:             $color_heading !default;
$color_input_focus:             $color_heading !default;
$bg_color_input:                #fff !default;
$bg_color_input_hover:          #fff !default;
$bg_color_input_focus:          #fff !default;
$border_color_input:            #e8e8e8 !default;
$border_color_input_hover:      #e8e8e8 !default;
$border_color_input_focus:      #e8e8e8 !default;
$placeholder_color_input:       $color_text !default;
$placeholder_color_input_hover: $color_text !default;
$placeholder_color_input_focus: $color_text !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Table Colors
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_table_head:   $color_heading !default;
$color_table_cell:   $color_text !default;
$color_table_border: #e8e8e8 !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Horizontal Rule Color
////////////////////////////////////////////////////////////////////////////////////////////////////

$color_hr: #e8e8e8 !default;
