@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Namespace
////////////////////////////////////////////////////////////////////////////////////////////////////

$ns: 'primeraCssPrefix-' !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Default Properties
////////////////////////////////////////////////////////////////////////////////////////////////////

$default_properties: () !default;

$properties: map-merge( (

    button: (),
    button--active: (),
    button--disabled: (),
    button--block: (),
    button--link: (),
    button--pill: (),
    button--outline: (),

    container: (),
    container--full-width: (),
    container--flat: (),
    container--flush: (),

    flex-row: (),
    flex-row--spaced: (),
    flex-row--spread: (),
    flex-row--centered: (),
    flex-row--left: (),
    flex-row--right: (),
    flex-row--top: (),
    flex-row--middle: (),
    flex-row--bottom: (),
    flex-item: (),

    flyout: (),
    flyout-item: (),

), $default_properties );


////////////////////////////////////////////////////////////////////////////////////////////////////
// Export
////////////////////////////////////////////////////////////////////////////////////////////////////

$export_button:    true !default;
$export_clearfix:  true !default;
$export_flex:      true !default;
$export_flyout:    true !default;
$export_headings:  true !default;
$export_media:     true !default;
$export_container: true !default;
