
<noscript>This site might not function properly without JavaScript enabled.</noscript>

<div class="app">
    <div class="app-inner">

        {% block header %}
            {% include 'partials/_navbar.twig' %}
        {% endblock %}

        <main class="main" role="main">
            {% block main %}
            {% endblock %}
        </main>

        {% block footer %}
            {% include 'components/_auxiliary.twig' %}
            {% include 'components/_colophon.twig' %}
        {% endblock %}

    </div>
</div>

{% block offsite %}
{% endblock %}
