@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Clearfix
// Source: css-101.org/articles/clearfix/latest-new-clearfix-so-far.php
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin clearfix {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

%clearfix {
    @include clearfix;
}

@if $export_clearfix {

    .#{$ns}clearfix {
        @extend %clearfix;
    }

}
