@charset "UTF-8";

html {
    // font-size: 62.5%;
    box-sizing: border-box;
    min-width: $website_min_width;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    min-height: 100vh;
    background-color: #fff;
    color: $color_text;
    font-size: $font_size_text;
    font-family: $font_family_text;
    font-weight: $font_weight_text;
    line-height: $line_height_ratio_text;
}

body,
button,
[type="button"],
[type="submit"],
[type="reset"] {
    @if $apply_font_smoothing {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @else {
        -webkit-font-smoothing: none;
        -moz-osx-font-smoothing: auto;
    }
}

::selection {
    background-color: $color_primary;
    color: #fff;
    text-shadow: none !important;
}
