@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Flags
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin flag {
    display: table;
}

@mixin flag-item {
    display: table-cell;
    vertical-align: top;
    width: auto;
}

%flag {
    @include flag;
}

%flag-item {
    @include flag-item;
}
