@charset "UTF-8";

/*
Flyout

This mixin works like a dropdown, except that you can change the side where the dropdown should
appear. You can control the height and width of the flyout-item element via width and max-height.

Usage example:
<div class="flyout flyout--hover">
    <button>Button</button>
    <div class="flyout-item flyout-item--right-down"> </div>
</div>
*/

////////////////////////////////////////////////////////////////////////////////////////////////////
// Flyout
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin flyout {

    display: inline-block;
    position: relative;

    @each $prop, $val in map-get($properties,flyout) {
        #{$prop}: $val;
    }
}

@mixin flyout--hover {
    &:hover > :last-child { display: block; }
}

%flyout        { @include flyout; }
%flyout--hover { @include flyout--hover; }

@if $export_flyout {

    .#{$ns}flyout        { @extend %flyout; }
    .#{$ns}flyout--hover { @extend %flyout--hover; }

}


////////////////////////////////////////////////////////////////////////////////////////////////////
// Flyout Item
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin flyout-item {

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    width: 160px;
    overflow-y: auto;
    transform: translateZ(0);
    user-select: none;

    @each $prop, $val in map-get($properties,flyout-item) {
        #{$prop}: $val;
    }
}

@mixin flyout-item--up( $offset:0 ) {
    top: auto;
    bottom: calc(100% + #{$offset});
    left: 50%;
    transform: translateX( -50% );
}

@mixin flyout-item--up-left( $offset:0 ) {
    top: auto;
    left: auto;
    right: 0;
    bottom: calc(100% + #{$offset});
}

@mixin flyout-item--up-right( $offset:0 ) {
    top: auto;
    bottom: calc(100% + #{$offset});
}

@mixin flyout-item--right( $offset:0 ) {
    top: 50%;
    left: calc(100% + #{$offset});
    transform: translateY( -50% );
}

@mixin flyout-item--right-up( $offset:0 ) {
    top: auto;
    left: calc(100% + #{$offset});
    bottom: 0;
}

@mixin flyout-item--right-down( $offset:0 ) {
    top: 0;
    left: calc(100% + #{$offset});
}

@mixin flyout-item--down( $offset:0 ) {
    top: calc(100% + #{$offset});
    bottom: auto;
    left: 50%;
    transform: translateX( -50% );
}

@mixin flyout-item--down-left( $offset:0 ) {
    top: calc(100% + #{$offset});
    left: auto;
    right: 0;
}

@mixin flyout-item--down-right( $offset:0 ) {
    top: calc(100% + #{$offset});
    left: 0;
}

@mixin flyout-item--left( $offset:0 ) {
    top: 50%;
    left: auto;
    right: calc(100% + #{$offset});
    transform: translateY( -50% );
}

@mixin flyout-item--left-up( $offset:0 ) {
    top: auto;
    left: auto;
    right: calc(100% + #{$offset});
    bottom: 0;
}

@mixin flyout-item--left-down( $offset:0 ) {
    top: 0;
    left: auto;
    right: calc(100% + #{$offset});
}

%flyout-item--up         { @include flyout-item--up; }
%flyout-item--up-left    { @include flyout-item--up-left; }
%flyout-item--up-right   { @include flyout-item--up-right; }
%flyout-item--right      { @include flyout-item--right; }
%flyout-item--right-up   { @include flyout-item--right-up; }
%flyout-item--right-down { @include flyout-item--right-down; }
%flyout-item--down       { @include flyout-item--down; }
%flyout-item--down-left  { @include flyout-item--down-left; }
%flyout-item--down-right { @include flyout-item--down-right; }
%flyout-item--left       { @include flyout-item--left; }
%flyout-item--left-up    { @include flyout-item--left-up; }
%flyout-item--left-down  { @include flyout-item--left-down; }

@if $export_flyout {

    .#{$ns}flyout-item--up         { @extend %flyout-item--up; }
    .#{$ns}flyout-item--up-left    { @extend %flyout-item--up-left; }
    .#{$ns}flyout-item--up-right   { @extend %flyout-item--up-right; }
    .#{$ns}flyout-item--right      { @extend %flyout-item--right; }
    .#{$ns}flyout-item--right-up   { @extend %flyout-item--right-up; }
    .#{$ns}flyout-item--right-down { @extend %flyout-item--right-down; }
    .#{$ns}flyout-item--down       { @extend %flyout-item--down; }
    .#{$ns}flyout-item--down-left  { @extend %flyout-item--down-left; }
    .#{$ns}flyout-item--down-right { @extend %flyout-item--down-right; }
    .#{$ns}flyout-item--left       { @extend %flyout-item--left; }
    .#{$ns}flyout-item--left-up    { @extend %flyout-item--left-up; }
    .#{$ns}flyout-item--left-down  { @extend %flyout-item--left-down; }

}
