@charset "UTF-8";

@import './normalize';

@import
    'variables/borders',
    'variables/colors',
    'variables/spacing',
    'variables/typography',
    'variables/widths';

@import
    'mixins/flyout',
    'mixins/media-queries',
    'mixins/screen-cover',
    'mixins/scrollable',
    'mixins/shadows',
    'mixins/truncate';

/*! ElementalCSS v1.0.0-beta1 */

@import
    'reset',
    'document',
    'content',
    'tables',
    'forms',
    'clearfix',
    'headings',
    'flex',
    'flags',
    'buttons';
