@charset "UTF-8";

@import 'base/normalize';

/*! ElementalCSS v1.0.0-beta1 */

@import
    'variables/borders',
    'variables/colors',
    'variables/export',
    'variables/spacing',
    'variables/typography',
    'variables/widths';

@import
    'mixins/arrow',
    'mixins/material-shadows',
    'mixins/media-queries',
    'mixins/scrollable',
    'mixins/triangle',
    'mixins/truncate';

@import
    'base/reset',
    'base/document',
    'base/content',
    'base/headings',
    'base/tables',
    'base/forms';

@import
    'clearfix',
    'flex',
    'buttons',
    'flyout',
    'media';
