@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Container
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin container {

    max-width: $container_max_width;

    margin: {
        left: auto;
        right: auto;
    }

    padding: {
        left: $padding_left_container;
        right: $padding_right_container;
        top: $padding_top_container;
        bottom: $padding_bottom_container;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }

    @each $prop, $val in map-get($properties,container) {
        #{$prop}: $val;
    }
}

@mixin container--full-width {

    max-width: none;

    @each $prop, $val in map-get($properties,container--full-width) {
        #{$prop}: $val;
    }
}

@mixin container--flat {

    padding-top: 0;
    padding-bottom: 0;

    @each $prop, $val in map-get($properties,container--flat) {
        #{$prop}: $val;
    }
}

@mixin container--flush {

    padding: 0;

    @each $prop, $val in map-get($properties,container--flush) {
        #{$prop}: $val;
    }
}

%container {
    @include container;
}

%container--full-width {
    @include container--full-width;
}

%container--flat {
    @include container--flat;
}

%container--flush {
    @include container--flush;
}

@if $export_container {

    .#{$ns}container {
        @extend %container;
    }

    .#{$ns}container--full-width {
        @extend %container--full-width;
    }

    .#{$ns}container--flat {
        @extend %container--flat;
    }

    .#{$ns}container--flush {
        @extend %container--flush;
    }

}
