@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Media Object
// www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin media {
    display: flex;
    align-items: flex-start;
}

@mixin media-item {
    flex: 1;
}

%media {
    @include media;
}

%media-item {
    @include media-item;
}

@if $export_media {

    .#{$ns}media {
        @extend %media;
    }

    .#{$ns}media-item {
        @extend %media-item;
    }

}
