@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Forms
////////////////////////////////////////////////////////////////////////////////////////////////////

$calculated_input_height: calc(
    #{$font_size_input * $line_height_ratio_input}
    + #{$padding_top_input}
    + #{$padding_bottom_input}
    + #{$border_width_input * 2}
);

form {
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

legend, label {
    display: inline-block;
    color: $color_input_label;
    font-weight: $font_weight_input_label;
    font-size: $font_size_input_label;
    font-family: $font_family_input_label;
    line-height: $line_height_ratio_input;
}

[type*="date"],
[type*="datetime"],
[type*="datetime-local"],
[type*="month"],
[type*="time"],
[type*="week"],
[type*="file"],
[type*="email"],
[type*="number"],
[type*="password"],
[type*="search"],
[type*="tel"],
[type*="text"],
[type*="url"],
input:not([type]),
textarea,
select {
    font-family: $font_family_input;
    font-weight: $font_weight_input;
    font-size: $font_size_input;
    line-height: $line_height_ratio_input;
    padding-top: $padding_top_input;
    padding-right: $padding_right_input;
    padding-bottom: $padding_bottom_input;
    padding-left: $padding_left_input;
    border-width: $border_width_input;
    border-radius: $border_radius_input;
    border-style: solid;
    box-shadow: none;
    color: $color_input;
    background-color: $bg_color_input;
    border-color: $border_color_input;
    &:hover {
        color: $color_input_hover;
        background-color: $bg_color_input_hover;
        border-color: $border_color_input_hover;
    }
    &:focus {
        color: $color_input_focus;
        background-color: $bg_color_input_focus;
        border-color: $border_color_input_focus;
    }
}

// Ignore rtl for non rtl data.
[type*="email"],
[type*="url"] {
	direction: ltr;
}

input {
    display: inline-block;
}

input,
textarea {
    &::placeholder { color: $placeholder_color_input; }
    &:hover::placeholder { color: $placeholder_color_input_hover; }
    &:focus::placeholder { color: $placeholder_color_input_focus; }
}

textarea {
    display: inline-block;
    // Remove space below the textarea.
    vertical-align: top;
    // Only allow vertical resizing.
    resize: vertical;
    overflow: auto;
}

select {
    display: inline-block;
    appearance: menulist;
    // Override webkit to ensure proper display when multiple or size attribute is present.
    -webkit-appearance: menulist-button;
    // A height is required, because padding alone will not size this input appropriately.
    height: $calculated_input_height;
    cursor: pointer;
}

button,
[type*="button"],
[type*="submit"],
[type*="reset"] {
    display: inline-block;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

[type*="checkbox"],
[type*="radio"] {
    cursor: pointer;
}
