@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Headings
////////////////////////////////////////////////////////////////////////////////////////////////////

@mixin heading( $size:1 ) {
    color: $color_heading;
    font-family: $font_family_heading;
    font-weight: $font_weight_heading;
    line-height: $line_height_ratio_heading;
    margin: 0;
    margin-bottom: $margin_bottom;
    @if $size == 1      { font-size: $font_size_h1; }
    @else if $size == 2 { font-size: $font_size_h2; }
    @else if $size == 3 { font-size: $font_size_h3; }
    @else if $size == 4 { font-size: $font_size_h4; }
    @else if $size == 5 { font-size: $font_size_h5; }
    @else if $size == 6 { font-size: $font_size_h6; }
    @else               { font-size: $size; }
}

h1, h2, h3, h4, h5, h6,
%h1, %h2, %h3, %h4, %h5, %h6 {
    @include heading;
}

h2, %h2 { font-size: $font_size_h2; }
h3, %h3 { font-size: $font_size_h3; }
h4, %h4 { font-size: $font_size_h4; }
h5, %h5 { font-size: $font_size_h5; }
h6, %h6 { font-size: $font_size_h6; }

@if $export_headings {

    .#{$ns}h1 { @extend %h1; }
    .#{$ns}h2 { @extend %h2; }
    .#{$ns}h3 { @extend %h3; }
    .#{$ns}h4 { @extend %h4; }
    .#{$ns}h5 { @extend %h5; }
    .#{$ns}h6 { @extend %h6; }

}
