@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Reset
// www.w3schools.com/cssref/css_default_values.asp
////////////////////////////////////////////////////////////////////////////////////////////////////

menu, fieldset, input, button, legend, table, ol, ul, hr {
    padding: 0;
    margin: 0;
    border: 0;
}

form, fieldset,
h1, h2, h3, h4, h5, h6,
p, pre, dl, dd, ol, ul,
figure, address, blockquote,
audio, video,
table {
    margin: 0;
    margin-bottom: $margin_bottom;
}
