@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Namespace
////////////////////////////////////////////////////////////////////////////////////////////////////

$ns: '' !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Export
////////////////////////////////////////////////////////////////////////////////////////////////////

$export_button:   true !default;
$export_clearfix: false !default;
$export_flex:     true !default;
$export_flyout:   true !default;
$export_headings: true !default;
$export_media:    true !default;
