@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Default
////////////////////////////////////////////////////////////////////////////////////////////////////

// Used to standardize whitespace
$default_spacing: 30px !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Margin
////////////////////////////////////////////////////////////////////////////////////////////////////

// Effects most block-level elements
$margin_bottom: $default_spacing !default;

// Shorthand alias
$mb: $margin_bottom;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Padding
////////////////////////////////////////////////////////////////////////////////////////////////////

// Input padding
$padding_left_input:   $default_spacing / 2 !default;
$padding_right_input:  $default_spacing / 2 !default;
$padding_top_input:    $default_spacing / 4 !default;
$padding_bottom_input: $default_spacing / 4 !default;

// Button padding
$padding_left_button:   $default_spacing !default;
$padding_right_button:  $default_spacing !default;
$padding_top_button:    $default_spacing / 2 !default;
$padding_bottom_button: $default_spacing / 2 !default;

// Table padding
$padding_left_table:   $default_spacing / 2 !default;
$padding_right_table:  $default_spacing / 2 !default;
$padding_top_table:    $default_spacing / 2 !default;
$padding_bottom_table: $default_spacing / 2 !default;

// Container
$padding_left_container:   $default_spacing !default;
$padding_right_container:  $default_spacing !default;
$padding_top_container:    $default_spacing !default;
$padding_bottom_container: $default_spacing !default;
