@charset "UTF-8";

////////////////////////////////////////////////////////////////////////////////////////////////////
// Dimensions
////////////////////////////////////////////////////////////////////////////////////////////////////

$website_min_width: 320px !default;


////////////////////////////////////////////////////////////////////////////////////////////////////
// Breakpoints
////////////////////////////////////////////////////////////////////////////////////////////////////

$medium_screen_start: 768px !default;
$large_screen_start:  1024px !default;

$small_screen_end:  $medium_screen_start - 1;
$medium_screen_end: $large_screen_start - 1;
